@import url(bootstrap.css);

body {
      background-image:url (https://f.cloud.github.com/assets/5033756/888455/e9f1fff6-fa0d-11e2-80f3-1a8c7acc2501.jpg);
      background-color: DarkSalmon;
}

.container {
            background-color: DarkCyan;
            padding 80px 50px 40px;
}

.navbar {
         font-size: 20px;
         color: DarkSeaGreen;
         padding 30px 20px 12px;
}

.secondlayer {
            background-color: Aquamarine;
            padding 100px 60px 35px;
}

h1 {
    color: IndianRed;
}

img {
     float: right;
}
 .brand {
        font-size: 30px;
 }
